/*div p{
    color: brown;
}
*/
/*.container div p{
    color: brown;
}*/
p + div {
  color: aqua;
}
div + p {
  background-color: magenta;
}
div > p {
  background-color: orange;
}
div > span {
  background-color: lavender;
}
h2 [title="baslik1"] {
  color: red;
}
h2 [title="baslik2"] {
  color: rgb(0, 34, 128);
}
p[title="paragraf1"] {
  color: chocolate;
}
p[title="paragraf2"] {
  color: rgb(14, 146, 128);
}
p[title="paragraf1"] ::first-letter {
  font-size: 50px;
}
